<div class="table-responsive">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">商品名</th>
        <th scope="col" class="text-end">金額</th>
        <th scope="col" class="text-end">数量</th>
        <th scope="col" class="text-end">小計</th>
      </tr>
    </thead>
    <tbody>
      <% order_products.each do |order_product| %>
        <tr>
          <th scope="row"><%= image_tag order_product.product.image, class: "img-fluid", width: '70' %></th>
          <td><%= order_product.product.name %></td>
          <td class="text-end"><%= convert_to_jpy(order_product.product.price) %></td>
          <td class="text-end"><%= order_product.quantity %></td>
          <td class="text-end"><%= convert_to_jpy(order_product.subtotal) %></td>
        </tr>
      <% end %>
      <tr>
        <th></th>
        <td></td>
        <td></td>
        <td><strong>合計金額</strong></td>
        <td class="text-end"><%= convert_to_jpy(total) %></td>
      </tr>
    </tbody>
  </table>
</div>